<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BuyZoneApplication"
        android:label="Buy Zone Widget"
        android:theme="@style/Theme.BuyZone">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.BuyZoneWidgetConfigActivity"
            android:exported="true" />
        <receiver
            android:name=".widget.BuyZoneWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/buy_zone_widget_info" />
        </receiver>
    </application>
</manifest>
